body {
	background-color: white;
	margin: 0px;
}

.logo{
	background-color: #44a900;
}

#img1{
	padding: 15px 0px;
	height: 145px;
	width: 145px;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #284e15;
  font-family: 'Oswald';
  font-size: 17px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


.title{
	margin: 10px;
	font-family: 'Oswald';
	color: #284e15;
}

.para{
	margin: 10px;
	font-family: 'Oswald';
}

.user-input{
	margin: 10px;
	font-family: 'Oswald';
	font-size: 15px;
}

input[type=text] {
	padding: 7px;
	border: 1px solid grey;
	border-radius: 3px;
	font-family: 'Oswald';
	margin: 4px 2px;
}

input[type="button"]{
	padding: 10px 20px;
	background-color: #44a900;
	border: none;
  	color: white;
  	padding: 5px 20px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
  	margin: 4px 2px;
  	cursor: pointer;
  	border-radius: 5px;
  	font-family: 'Oswald';
}

input[type="button"]:hover{
	background-color: #284e15;
}

.button{
	margin: 10px;
}

#output{
	font-family: 'Oswald';
}

#img2{
	width: 30%;
	bottom: 0;
	position    : absolute;
    bottom      : 10px;
    left        : 44%;
    margin-left : -100px;
}

.donateText{
	font-family: 'Oswald';
	color: #284e15;
}
